<br><br><br>
<span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
<%= link_to "delete this list", list_path(@list), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this list?" } %>
<h1><%= @list.name %></h1>


<% @list.bookmarks.each do |bookmark| %>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<ul>
  <li class="list-group-item"><%= bookmark.movie.title %></li>
  <li class="list-group-item"><%= bookmark.movie.poster_url %></li>
  <li class="list-group-item"><%= bookmark.comment %></li>
</ul>
<% end %>

<%= link_to "Add movie", new_list_bookmark_path(@list), class: "text-decoration-none" %> |
<%= link_to "Back", lists_path, class: "text-decoration-none" %>
